@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/FredokaOne-Regular.ttf") format("opentype")
}

:root {
    --colors: rgb(0, 162, 220);
}


* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}


img {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

ol, ul {
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar { 
    display: none; 
}   

html {
    box-sizing: border-box;
}

html, body {
    padding: 0;
}

body {
    overflow-x: hidden;
    line-height: 1.5em;
    font-family: "Fredoka";
    color: #f4f4f4;
    background-image: url("../assets/images/blue.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

footer {
    margin: 10em;
}

.logo {
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0.9);
}

.logo:hover {
    transform: scale(1);
    filter: saturate(1.2);
}

header {
    display: flex;
    position: sticky;
    background-image: linear-gradient(rgb(0, 9, 22), rgba(0, 9, 22, .2) 90%);
    /* background-color: #0B192F; */
    /* background-color: #f2f2f2; */
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    text-decoration: none;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    transform: scale(1);
    margin: 0 2em;
}

header nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
}

header nav ul li:hover {
    transform: scale(1.1);
    text-shadow: -5px -2px #DA007D;
}

header nav ul li a:active {
    color: #00A2DC;
    transform: scale(1.1);
    text-shadow: -5px -2px #DA007D;
}

nav ul li form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
} 

nav ul li form legend {
    text-align: center;
    margin: 0 2em;
} 

nav ul li form input{
    border-style: none;
    border-radius: .5em;
    height: 2.5em;
    width: 100%;
    padding: 0 1em;
    color:  #82287D
} 


header img {
    margin: 1em 0;
    width: 7%;
    height: 7%;
}

main {
    background-image: url('../assets/images/stars.svg');
    background-size: cover;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
h1 {
    width: 70%;
    line-height: 1.2em;
    text-align: center;
    font-size: 6em;
    margin: .75em auto;
}


.book-wrapper {
    width: 70%;
    display: flex;
    overflow-x: scroll;
}

.book-wrapper article {
    flex-direction: row;
    margin: 2em;
    justify-content: space-between;
    max-height: 300px;
    min-width: 225px;
    box-shadow: -15px -15px 1px var(--colors);
    filter: saturate(2);
    border-radius: .5em;
}

.book-wrapper article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--colors);
    border-radius: .5em;
    filter: saturate(80%);
}

.genre-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
}

.genre-wrapper article {
    display: flex;
    flex-direction: row;
    margin: 2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.genre-wrapper article img{
    max-width: 300px;
    background-color: #00A2DC;
    box-shadow: -15px -15px 1px #00A2DC;
    border-radius: .5em;
    transition: all .2s ease-in-out;
    transform: scale(0.9);
}

.genre-wrapper article img:hover {
    transform: scale(1);
    box-shadow: -20px -20px 1px #DA007D;
    filter: saturate(2);
}

.genre-wrapper article img:active {
    transform: scale(1);
    box-shadow: -20px -20px 1px #DA007D;
    filter: hue-rotate(10deg);
}

.format-wrapper {
    width: 70%;
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.format-wrapper article {
    display: flex;
    width: 60%;
    background-color: #DA1F22;
    height: 7em;
    margin: 1.5em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0.9);
}

.format-wrapper .disabled {
    display: flex;
    width: 60%;
    background-color: #DA1F22;
    height: 7em;
    margin: 1.5em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0.9);
    filter: saturate(50%);
}

.format-wrapper article:hover {
    transform: scale(1);
    box-shadow: -10px -10px 1px #00A2DC;
}

.format-wrapper article h2{
    font-size: 2em;
    text-shadow: 3px 2px 12px rgba(0, 0, 0, .2);
}

.reading-level-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
}

.reading-level-wrapper article {
    display: flex;
    width: 30%;
    background-color: #009A45;
    height: 10em;
    margin: 2em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0.9);
}

.reading-level-wrapper .disabled {
    filter: saturate(50%);
}

.reading-level-wrapper article:hover {
    transform: scale(1);
    box-shadow: -10px -10px 1px #DA007D;
}

.reading-level-wrapper article h2{
    font-size: 2em;
    text-shadow: 3px 2px 12px rgba(0, 0, 0, .2);
}

/* https://projects.lukehaas.me/css-loaders/ */

.loader {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    color: var(--colors);
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}