@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/FredokaOne-Regular.ttf") format("opentype")
}

:root {
    --colors: rgb(0, 162, 220);
}


* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}


img {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

ol, ul {
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar { 
    display: none; 
}   

html {
    box-sizing: border-box;
}

html, body {
    padding: 0;
}

body {
    overflow-x: hidden;
    line-height: 1.5em;
    font-family: "Fredoka";
    color: #f4f4f4;
    background-image: url("../assets/images/blue.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.logo {
    cursor: pointer;
}

header {
    display: flex;
    position: sticky;
    background-image: linear-gradient(rgb(0, 9, 22), rgba(0, 9, 22, .2) 80%);
    /* background-color: #0B192F; */
    /* background-color: #f2f2f2; */
    top: 0;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    text-decoration: none;
    justify-content: space-between;
    margin: 0 2em;
}

header nav ul li a {
    text-decoration: none;
}

nav ul li form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
} 

nav ul li form legend {
    text-align: center;
    margin: 0 2em;
} 

nav ul li form input{
    border-style: none;
    border-radius: .5em;
    height: 2.5em;
    width: 100%;
    padding: 0 1em;
    color:  #82287D
} 


header img {
    margin: 1em 0;
    width: 7%;
    height: 7%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
h1 {
    width: 70%;
    line-height: 1.2em;
    text-align: center;
    font-size: 6em;
    margin: .75em auto;
}

article {
    cursor: pointer;
}

.book-wrapper {
    width: 70%;
    display: flex;
    overflow-x: scroll;
}

.book-wrapper article {
    flex-direction: row;
    margin: 2em;
    justify-content: space-between;
}

.book-wrapper article img{
    width: 225px;
    background-color: var(--colors);
    box-shadow: -25px -25px 1px var(--colors);
    border-radius: .5em;
}

.genre-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
}

.genre-wrapper article {
    display: flex;
    flex-direction: row;
    margin: 2em;
    justify-content: center;
    align-items: center;
}

.genre-wrapper article img{
    max-width: 300px;
    background-color: #00A2DC;
    box-shadow: -25px -25px 1px #00A2DC;
    border-radius: .5em;
}

.format-wrapper {
    width: 70%;
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.format-wrapper article {
    display: flex;
    width: 60%;
    background-color: #DA1F22;
    height: 7em;
    margin: 1.5em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
}

.format-wrapper article h2{
    font-size: 2em;
    text-shadow: 3px 2px 12px rgba(0, 0, 0, .2);
}

.reading-level-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    margin: 0 auto;
    justify-content: center;
}

.reading-level-wrapper article {
    display: flex;
    width: 30%;
    background-color: #009A45;
    height: 10em;
    margin: 2em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
}

.reading-level-wrapper article h2{
    font-size: 2em;
    text-shadow: 3px 2px 12px rgba(0, 0, 0, .2);
}